<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>购物车</title>

    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="./js/html5shiv.min.js"></script>
    <script src="./js/respond.min.js"></script>
    <![endif]-->
    <script src="../dist/js/vue.js"></script>
    <script src="../dist/js/axios.js"></script>
    <link rel="stylesheet" href="./css/common.css">
    <script src="./js/common.js"></script>
    <style>
        .userInfo {
            background-color: #fff;
            padding: 30px;
            border-radius: 4px;
            margin-bottom: 30px;
        }

        .userAddresses {
            background-color: #fff;
            padding: 30px;
            border-radius: 4px;
            margin-bottom: 30px;
        }

        .addresses {
            margin: 60px 10px;
        }
    </style>
</head>
<body>

</body>
</html>