<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>购物车</title>

    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="./js/html5shiv.min.js"></script>
    <script src="./js/respond.min.js"></script>
    <![endif]-->
    <script src="../dist/js/vue.js"></script>
    <script src="../dist/js/axios.js"></script>
    <link rel="stylesheet" href="./css/common.css">
    <script src="./js/common.js"></script>
    <style>
        .carts {
            background-color: #fff;
            padding: 30px;
            border-radius: 4px;
            margin-bottom: 30px;
        }
        .order{
            padding:20px;
            margin:20px;
            border-radius: 4px;
            border:1px solid #e5e5e5;
        }

    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="./index.html">MALL</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">MALL</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--                <li class=""><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <!--                <li><a href="#">Link</a></li>-->

                </ul>
                <form class="navbar-form navbar-left">
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./register.html" v-if="currentUser.id===undefined">注册</a></li>
                    <li><a href="./login.html" v-if="currentUser.id===undefined">登录</a></li>
                    <li class="dropdown" v-if="currentUser.id!==undefined">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <img :src="currentUser.avatar" class=" img-circle" style="width: 30px;height: 30px;" alt="">
                            {{currentUser.username}}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="./info.html">我的信息</a></li>
                            <li><a href="./cart.html">我的购物车</a></li>
                            <li><a href="./order.html">我的订单</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a @click="this.clientLogout()" href="#">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <ul class="nav nav-pills" style="margin:10px 0;">
            <li role="presentation" class=""><a href="./info.html">我的信息</a></li>
            <li role="presentation" class=""><a href="./cart.html">我购物车</a></li>
            <li role="presentation" class="active"><a href="./order.html">我的订单</a></li>
        </ul>
        <div class="orders">
            <div class="order" v-for="(item,index) of orders">
                <p class="text-muted">订单编号:{{item.orderId}}</p>
                <p class="text-info">下单时间:{{item.updateTime}}</p>
                <a class="btn btn-info" role="button" @click="" data-toggle="collapse" :href="'#orderDetail'+index"
                   aria-expanded="false" aria-controls="collapseExample">
                    订单详情
                </a>
                <div class="collapse" :id="'orderDetail'+index">
                    <div class="well">
                        <p class="">收货地址: <span class="text-primary">{{item.address.addressDetail}}</span></p>
                        <p>收货人: <span class="text-primary">{{item.address.name}}</span></p>
                        <p>联系电话: <span class="text-primary">{{item.address.mobile}}</span></p>
                        <ul class="media-list">
                            <li v-for="goods of item.goodsExt">
                                <p class="">
                                    <span class="text-primary">{{goods.name}}</span>
                                    <span>x</span>
                                    <span class="text-primary">{{goods.number}}</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="main-footer">
        <strong>Copyright &copy; 2020 <a href="">MALL</a></strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> v1.0.0
        </div>
    </footer>
</div>
</body>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="./js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="./js/bootstrap.min.js"></script>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            currentUser: {},
            orders: []
        },
        methods: {},
        mounted: function () {
            retrieveUserByToken();
            axios.get("/client/order/all", {
                headers: {
                    Authorization: accessToken
                }
            }).then(response => {
                if (response.data.code === 200) {
                    console.log(response.data);
                    this.orders = response.data.data;
                }
            }).catch(err => {
                console.log(err);
            })
        },
        computed: {}
    });
</script>
</html>