<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>我收到的订单</title>

    <!-- Bootstrap -->
    <link href="/views/client/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->
    <script src="/views/dist/js/vue.js"></script>
    <script src="/views/dist/js/axios.js"></script>
    <link rel="stylesheet" href="/views/client/css/common.css">
    <script src="/views/client/js/common.js"></script>

    <style>
        .container {
            background-color: #fff;
            border-radius: 4px;
        }

        .infos {
            margin: 30px 10px;
        }
    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/views/client/index.html">MALL</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">MALL</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--                <li class=""><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <!--                <li><a href="#">Link</a></li>-->

                </ul>
                <form class="navbar-form navbar-left">
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="./register.html" v-if="currentUser.id===undefined">注册</a></li>
                    <li><a href="./login.html" v-if="currentUser.id===undefined">登录</a></li>
                    <li class="dropdown" v-if="currentUser.id!==undefined">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <img :src="currentUser.avatar" class=" img-circle" style="width: 30px;height: 30px;" alt="">
                            {{currentUser.username}}
                            <span class="caret"></span></a>

                        <ul class="dropdown-menu" v-if="currentUser.role===3">
                            <li><a href="./info.html">我的信息</a></li>
                            <li><a href="/views/client/store/publishGoods.html">发布商品</a></li>
                            <li><a href="/views/client/store/myGoods.html">我发布的商品</a></li>
                            <li><a href="/views/client/store/orders.html">我收到的订单</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a @click="this.clientLogout()" href="#">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <ul class="nav nav-pills" style="margin:10px 0;">
            <li role="presentation" class=""><a href="./info.html">我的信息</a></li>
            <li><a href="/views/client/store/publishGoods.html">发布商品</a></li>
            <li role="presentation"><a href="/views/client/store/myGoods.html">我发布的商品</a></li>
            <li role="presentation" class="active"><a href="/views/client/store/orders.html">我的订单</a></li>
        </ul>
        <table class="infos table table-bordered  table-striped">
            <thead>
            <tr>
                <th>订单编号</th>
                <th>商品名称</th>
                <th>商品数量</th>
                <th>收件人</th>
                <th>联系方式</th>
                <th>送货地址</th>
                <th>下单时间</th>
                <th>订单状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item of orders">
                <td>{{item.orderId}}</td>
                <td>{{item.goodsName}}</td>
                <td>{{item.goodsNumber}}</td>
                <td>{{item.name}}</td>
                <td>{{item.mobile}}</td>
                <td>{{item.addressDetail}}</td>
                <td>{{item.updateTime}}</td>
                <td v-if="item.orderCartStatus===1">等待配送</td>
                <td v-if="item.orderCartStatus===2">配送完成</td>
                <td>
                    <button :disabled="item.orderCartStatus===2" @click="finishAnOrder(item.orderCartId)"
                            class="col-lg-12 btn btn-success">订单完成
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="">MALL</a></strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> v1.0.0
    </div>
</footer>


</body>

<script src="/views/client/js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/views/client/js/bootstrap.min.js"></script>
<!--<script src="/views/client/js/cookie.js"></script>-->


<script>
    var app = new Vue({
        el: "#app",
        data: {
            currentUser: {},
            orders: []
        },
        methods: {
            finishAnOrder: function (orderCartId) {
                axios.post("/client/orderCart/finish?orderCartId="+orderCartId,{},{
                    headers: {
                        Authorization: accessToken
                    }
                })
                    .then(response => {
                        if (response.data.code === 200) {
                            console.log(response.data.message);
                        }
                    }).catch(err => {
                    console.log(err);
                })
            }
        },
        mounted: function () {
            retrieveUserByToken();

            axios.get("/client/cart/brandId/", {
                headers: {
                    Authorization: accessToken
                }
            })
                .then(response => {
                    if (response.data.code === 200) {
                        console.log(response.data.data);
                        this.orders = response.data.data;
                    }
                }).catch(err => {
                console.log(err);
            })
        }
    })
</script>
</html>