<aside class="main-sidebar sidebar-collapse sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img src="../../dist/img/home.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">MALL</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">管理员</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="../user/user.html" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            用户管理
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../user/user.html" class="nav-link">
                                <i class="far fa-user nav-icon"></i>
                                <p>会员管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../user/address.html" class="nav-link active">
                                <i class="far fa-address-book nav-icon"></i>
                                <p>收货地址管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../user/history.html" class="nav-link">
                                <i class="far fa-history nav-icon"></i>
                                <p>搜索历史</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../user/feedback.html" class="nav-link">
                                <i class="far fa-info  nav-icon"></i>
                                <p>意见反馈</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            商城管理
                            <i class="right fas fa-magic"></i>
                            <!--                <i class="fas fa-angle-left right"></i>-->
                            <!--                <span class="badge badge-info right">6</span>-->
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../mall/order.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>订单管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../mall/goods.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>商品管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../mall/common-question.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>通用问题</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            推广管理
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../mall/common-question.html" class="nav-link">
                                <i class="far fa-adversal nav-icon"></i>
                                <p>广告管理</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-receipt"></i>
                        <p>
                            系统管理
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../system/adminstrator.html" class="nav-link">
                                <i class="far fa-user nav-icon"></i>
                                <p>管理员</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="far fa-info-circle nav-icon"></i>
                                <p>通知管理</p>
                            </a>
                        </li>
                        <li class="nav-item">
                                <a href="../system/Cloud-Object-Storage.html" class="nav-link">
                                    <i class="far fa-store-alt nav-icon"></i>
                                    <p>对象存储</p>
                                </a>
                            </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="far fa-paper-plane nav-icon"></i>
                                <p>操作日志</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">
                                <i class="far fa-user nav-icon"></i>
                                <p>角色管理</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            配置管理
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../../pages/forms/general.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>商城配置</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../../pages/forms/general.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>订单配置</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../../pages/forms/advanced.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>运费配置</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>